*{
    background-color: #0c1e38 ; /* xanh dương đen, màu nền đầu */
    color: #9ebccb;/*màu chữ của link ở nav*/
    color: #ffffff;/*màu chử của title*/
    color: #bed9e7;/*màu chử của mấy câu nói*/
    color:#3d605b;/*màu chử của các toán */
    color: #d7495b; /*màu chữ của hoá */
    color: #4b77c4;/* màu chữ của lý*/
}


