.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
  }

  .playpen-sans-<uniquifier> {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .baloo-bhai-2-<uniquifier> {
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .noto-sans-<uniquifier> {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 87.5;
  }    